@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');

:root{
    --cor0: rgb(255, 255, 255);
    --cor1: rgba(245, 245, 11, 0.932);
    --cor2: rgb(0, 0, 0);
    
    --fonte-titulo: 'Cinzel', serif;
    --fonte-subtitulo: 'Akshar', sans-serif;
    --fonte-padrao: arial, helvetica, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: white;

}

header#container{
    height: 200px;
    background-image: url('imagens/logocompleta_mary.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50vh;
}

nav{
    padding: 15px;
    font-size: 1.5em;
    text-align: center;
    background-color: var(--cor2);
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.438);
}

nav > a{
    color: white;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}

nav > a:hover{
    background-color: rgba(255, 255, 255, 0.507);
    padding: 8px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}

main{
    max-width: 80vw;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
    background-color: #ffdf00;
    box-shadow: 0px 5px 30px rgb(0, 0, 0);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h2{
    text-align: center;
    font-size: 2em;
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.671);
    padding-top: 5px;
    padding-bottom: 5px;
}

main p{
    font-size: 1.2em;
    padding-top: 5px;
    padding-bottom: 15px;
    font-weight: 500;
    text-align: justify;
    text-indent: 20px;
    line-height: 1.6em;
}

main img{
    display: block;
    margin: auto;
}

main ul {
    list-style-position: inside;
    font-size: 1.2em;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, 0.418);
    columns: 2;
    font-weight: 500;
}

div.map {
    padding: 10px;
}

div.map > iframe{
    width: 100%;
}

aside{
    padding: 10px;
    margin: 10px;
}

aside p{
    text-align: center;
    font-weight: 400;
}

aside a{
    font-size: 1.2em;
    color: black;
    transition-duration: .3s;
}

aside a.dentro{
    font-weight: normal;
    text-decoration-color: rgba(0, 0, 0, 0.486);
    font-size: 1em;
}

aside a:hover{
    background-color: black;
    padding: 8px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

footer{
    background-color: black;
    color: white;
    font-size: 1.5em;
    font-variant: small-caps;
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.712);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif
    letter-spacing: 2px;
}

@media (min-width: 1020px){
    header#container{
        height: 500px;
        background-size: 30vh;
    }
}

@media (min-width: 1000px){
    header#container{
        height: 275px;
        background-size: 70vh;
    }
}

@media (max-width: 720px){
    header#container{
        background-size: 50vh;
    }

    nav{
        font-size: 1em;
    }

    main{
        max-width: 75vw;
        font-size: 1em;
    }

    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 600px){
    header#container{
        background-size: 50vh;
    }

    nav{
        font-size: 1em;
    }

    main{
        max-width: 75vw;
        font-size: 1em;
    }

    footer{
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 400px){
    header#container{
        height: 170px;
        background-size: 40vh;
    }

    nav{
        font-size: 1em;
    }

    main{
        font-size: 0.7em;
        max-width: 38vh;
    }

    footer{
        font-size: 1em;
    }
}